.pagename {
    background: var(--lay-primary-color);
    color: #fff;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}
.pagename::before {
    position: absolute;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 30%;
    background-color: var(--lay-primary-color);
    right: -18px;
    transform-origin: bottom right;
    transform: skewX(199deg)
}
.work-user .user-icon{
    margin-left: -10px;
    width: 36px;
    height: 36px;
    font-size: var(--lay-font-size);
}
