:root{
	--lay-text-color: #1d1d1d;
	--lay-font-family: 'poppins' ,sans-serif;
	--lay-font-size: 0.875rem;
}

body{
	color: var(--lay-text-color);
	font-family: var(--lay-font-family);
	font-size: var(--lay-font-size);
}